<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="examiner" class="ru.otus.Examiner.Examiner">
        <constructor-arg name="resourceService" ref="resourceService"/>
        <constructor-arg name="outService" ref="outService"/>
    </bean>
    <bean id="resourceService" class="ru.otus.ResourceService.ResourceServiceImpl">
        <property name="fileName" value="questions.csv"/>
    </bean>
    <bean id="outService" class="ru.otus.OutService.ConsoleService">
        <constructor-arg>
            <bean class="ru.otus.Scanner.ScannerImpl"/>
        </constructor-arg>
    </bean>
</beans>